<mat-toolbar>
  <img src="assets/img/logo-itac.webp" class="logo" alt="logo-itac">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav">


    <button mat-button class="menu-button" routerLinkActive routerLink="/admin-roles">
      <mat-icon>person</mat-icon>
      <span>Roles</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive routerLink="/admin-personas">
      <mat-icon>person</mat-icon>
      <span>Personas</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive routerLink="/admin-clientes">
      <mat-icon>how_to_reg</mat-icon>
      <span>Clientes</span>
    </button>

    <button mat-button class="menu-button"routerLinkActive routerLink="/admin-proyectos">
      <mat-icon>assignment</mat-icon>
      <span>Proyectos</span>
    </button>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
