
<div class="title">
  <h1>Administración de roles</h1>
</div>

<div class="main-contenedor">

  <form class="container mat-elevation-z5">

    <div class="titleCard">
      <span>Registro de roles</span>
    </div>
    <mat-form-field class="input-full-width">
      <mat-label>Nombre rol</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-label>Estado</mat-label>
      <mat-select>
          <mat-option [value]="state" *ngFor="let state of state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <div class="formBoton">
      <button mat-raised-button class="boton">Registrar</button>
    </div>


  </form>

</div>

<div class="tabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="nameRol">
      <th mat-header-cell *matHeaderCellDef>Nombre rol</th>
      <td mat-cell *matCellDef="let element"> {{element.nameRol}} </td>
    </ng-container>


    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

